.fontpicker,
.fontpicker * {
  box-sizing: border-box;
}
.fontpicker {
  @apply border-input bg-transparent rounded-sm;
  display: block;
  position: relative;
}
.fontpicker__preview {
  @apply bg-transparent;
}
.fontpicker__search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 0 10px;
  cursor: pointer;
  font-size: 16px;
  @apply bg-background text-foreground;
}
.fontpicker__search:focus {
  cursor: text;
  opacity: 1;
}
.fontpicker__popout {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid;
  max-height: calc(12em + 1px);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
  opacity: 0;
  transform: scaleY(0.001);
  @apply bg-background border-none;
}
.fontpicker__popout.fontpicker__active {
  opacity: 1;
  transform: scale(1);
}
.fontpicker__option {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  @apply bg-transparent;
}
.fontpicker__option.selected {
  @apply bg-input;
}
.fontpicker__nomatches {
  height: 2em;
  line-height: 2em;
  background: #f5f5f5;
  text-align: center;
  @apply text-muted-foreground;
}
