@keyframes activeEngagementTitle {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-4px) scale(1.07);
  }
}

.activeEngagementTitle {
  box-shadow: 0 0.4vh 1.3vw 0.4vh rgba(78, 191, 55, 0.5);
  animation: activeEngagementTitle 2s ease-in-out infinite;
  padding: 0.8vh 1.3vw 0.8vh 1.3vw;
  align-self: center;
}
