.polaroid-fade-out {
  transition: all 0s ease-in;
  transform: scale(3);
  opacity: 0;
}

.polaroid-fade-in {
  transition: all 0.5s cubic-bezier(0.7, 0, 0.9, 1);
  transform: scale(1);
  opacity: 1;
}
