.setlistRoot {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.noLeadSheet {
  width: 100%;
  text-align: center;
  padding: 4rem 0 0;
}

.leadSheetFrame {
  flex-grow: 1;
}

.leadSheetHtml {
  flex-grow: 1;
  padding: 0;
  font-size: 80%;
}

.leadSheetHtml h3,
.leadSheetHtml h4,
.leadSheetHtml p {
  margin: 0.2em 0;
}

.leadSheetTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.leadSheetTable th,
.leadSheetTable td {
  border: 1px solid #ffffff11;
  padding: 0 0.5rem;
  text-align: left;
  white-space: nowrap;
}

.leadSheetTable tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.leadSheetTable td:nth-child(2) {
  white-space: nowrap;
}

.chords {
  font-weight: bold;
}

.leadSheetTable td .lyric {
  font-style: italic;
}

.leadSheetTable img {
  max-width: 200px;
}

.sectionTitle {
  padding: 0;
}

.recordingTimestamp {
  font-weight: lighter;
  font-size: 70%;
  color: #aaa;
}

.inlineImage {
  height: 4rem;
  vertical-align: middle;
}

.lyrics {
  text-align: center;
}

.lyrics p {
  margin: 0;
  font-size: 120%;
}
